.consumer {
    position: relative;
}

.consumer-content {
    padding-bottom: 1.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    p {
        grid-area: 1/1/1/5;
        text-align: center;
        transform: scale(0.9);
    }
}

.consumer-btn {
    position: absolute;
    bottom: 0rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    color: darkcyan;
    font-size: 0.8rem;
}