.foldCard {
    position: relative;
    margin: 0.25rem 0rem;
}

.foldCard-title {
    padding: 0.25rem 0.5rem;
    position: relative;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        color: darkcyan;
    }
}

.foldCard-arrow {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
}

.foldCard-content {
    padding: 0rem 0.5rem;
    display: grid;
    gap: 0.4rem;
    overflow: hidden;
    transition-duration: 0.3s;
    max-height: 20rem;
}

.foldCard-collapse {
    max-height: 0rem;
}