.notify {
    padding: 1rem 0rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0.5rem;

    p {
        text-align: center;
        cursor: pointer;
    }
}

.notify-btn {
    height: 2.5rem;
    width: 2.5rem;
    border: 0.4rem;
    background-color: rgb(227, 249, 233);
    color: rgb(43, 164, 113);
    border-radius: 1rem;
    border: 1px solid rgba(43, 164, 113, 0.5);
    font-family: iconfont;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
}