.editor {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    z-index: 100;
}

.editor-tool {
    border-bottom: 1px solid #ccc
}

.editor-content {
    :global(.w-e-textarea-video-container) {

        video,
        img {
            max-width: 100%;
        }
    }
}

.editor-content {
    position: relative;
    flex: 1, ;
    overflow-Y: hidden
}