.grade {
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba($color: white, $alpha: 0.98);
}

.grade-horizontal {
    margin: 0.5rem 0rem;
    color: darkcyan;
}

.grade-btn {
    margin-top: 0.5rem;
}

.grade-progress {
    display: flex;
    align-items: center;

    label {
        font-size: 1rem;
        margin-right: 0.2rem;
        transform: scale(0.9);
    }
}

.grade-progress-track {
    display: flex;
    background-color: #e7e7e7;
    flex: 1;
    height: 0.8rem;
    border-radius: 0.4rem;
}

.grade-progress-slider {
    display: inline-flex;
    background-color: #0052D9;
    color: white;
    height: 0.8rem;
    overflow: hidden;
    border-radius: 0.4rem;
    min-width: 50%;
    width: 50%;
    justify-content: right;
    transition-duration: 0.3s;

    label {
        font-size: 1rem;
        line-height: 1rem;
        transform: scale(0.8) translateY(-12.5%);
    }
}