.personInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.personInfo-name {
    padding: 0.5rem;
    display: flex;
    align-items: center;

    label {
        width: 4rem;
        flex-shrink: 0;
    }
}

.personInfo-avatar {
    display: flex;
    padding: 0.5rem;

    label {
        width: 4rem;
        flex-shrink: 0;
    }
}

.personInfo-statistics {
    display: flex;
    padding: 0.5rem;

    label {
        width: 4rem;
        flex-shrink: 0;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }

    li {
        padding: 0rem 0.5rem 0.5rem 0rem;
    }
}

.personInfo-preference {
    padding: 0.5rem;
}