.notice {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: white;
}

.notice-horizontal {
    margin: 0.5rem 0rem 0rem;
    width: 14rem;
    color: darkcyan;
}

.notice-content {
    margin: 0.2rem;
    padding: 0.8rem;
    text-align: center;
    background-color: #f4f4f5;
    border-radius: 0.5rem;
}