.recommend {
    padding: 0.5rem;
    background-color: rgba($color: white, $alpha: 0.98);
}

.recommend-tabs {
    position: relative;
    padding: 0.5rem;
    display: flex;
    justify-content: right;
    align-items: center;

    .recommend-menu {
        height: 1.5rem;

        &>div {
            height: 1.5rem;
        }

        ul {
            justify-content: flex-end;

            li {
                height: 1.5rem;
            }
        }
    }
}

.recommend-horizontal {
    margin: 0rem;
    width: 15rem;
    color: darkcyan;
    flex-shrink: 0;
}

.recommend-hidden {
    display: none;
}

.recommend-more {
    text-align: center;
}

.recommend-tabs>div:last-child {
    .recommend-vertical {
        display: none;
    }
}

.recommend-pagination {
    justify-content: center;
}