.user {
    padding: 0.5rem;
    position: sticky;
    top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.98);
}

.user-double-dashed {
    margin-bottom: 0.1rem;
    height: 0.1rem;
    width: 100%;
    background: linear-gradient(to left, transparent 0%, transparent 50%, darkcyan 50%, darkcyan 100%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.user-btn {
    position: relative;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        color: darkcyan;
    }
}

.user-arrow {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
}