.substance {
    padding: 0.5rem;
    background-color: rgba($color: white, $alpha: 0.98);

    h3 {
        margin: 0.5rem 0rem;
    }
}

.substance-title {
    position: relative;
    padding: 0rem;
}

.substance-title>.substance-horizontal {
    margin: 0.5rem 0rem 0rem;
    width: 15rem;
    color: darkcyan;
}

.substance-divider {
    margin: 0rem;
    margin-top: 0.5rem;
}

.substance-container {
    display: flex;
}

.substance-landlord {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    p {
        margin-left: 0.2rem;
    }
}

.substance-options {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.substance-options-labels {
    transform: scale(0.85) translateX(5%);
}

.substance-options-btn {
    margin-left: 0.2rem;
}

.substance-options {
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1.4rem;

    label {
        margin-left: 0.5rem;
        line-height: 1rem;
        font-size: 1rem;
        transform: scale(0.85);
    }
}